/*.resume{
  height: 100%;
}

.timeline{
  display: flex;
  width: 100%;
  padding: 10px;


  &_experience, &_education{
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;


    &_header-text{
      display: inline-block;
      color: var(--yellow-theme-main-color);
      font-size: 20px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 10px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
    }

    &_header-text::before, &_header-text::after{
      position: absolute;
      content: '';
      width: 2px;
      height: 5px;
      background-color: var(--yellow-theme-main-color);
      bottom: -1px;
    }

    &_header-text::before{
      left: 0;
    }

    &_header-text::after{
      right: 0;
    }

    &_vertical-timeline-element{
      padding: 0px 20px 40px -80px;

      &:last-child{
        padding-bottom: 0px;
      }
    }
    .vertical-timeline-element-title-wrapper{
      display: flex;
      align-items: center;

      h3,h4,h5{
        font-size: 16px;
      }

      h4{
        margin-left: 8px;
      }

      p{
        font-size: 18px;
      }
    }

    .vertical-timeline-element-title-wrapper-description{
      font-size: 15px;

    }

    .vertical-timeline-element-title-wrapper-date{
      font-size: 13px;
      margin-bottom: 5px;
      color: var(--yellow-theme-main-color);
     }

    .vertical-timeline-element-content{
      box-shadow: none;
    }

    .vertical-timeline-element-content-arrow{
      display: flex;
    }

    .vertical-timeline-element-date{
      opacity: 1;
      color: var(--yellow-theme-sub-text-color);
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .timeline{
    flex-direction: column;
    &_experience, &education{
      width: 100%;
      gap:2rem
    }
  }

}/*/